@font-face {
    font-family: 'MTD Portrait Script Bounce';
    src: url('../fonts/MTD-Portrait-Script-Bounce.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('../fonts/SVN-Gotham.woff2') format('woff2'),
        url('../fonts/SVN-Gotham.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamBold';
    src: url('../fonts/SVN-GothamBold.woff2') format('woff2'),
        url('../fonts/SVN-GothamBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamLight';
    src: url('../fonts/SVN-GothamLight.woff2') format('woff2'),
        url('../fonts/SVN-GothamLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SVN-GothamItalic';
    src: url('../fonts/SVN-GothamItalic.woff2') format('woff2'),
        url('../fonts/SVN-GothamItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamBoldItalic';
    src: url('../fonts/SVN-GothamBoldItalic.woff2') format('woff2'),
        url('../fonts/SVN-GothamBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamBook';
    src: url('../fonts/SVN-GothamBook.woff2') format('woff2'),
        url('../fonts/SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamBookItalic';
    src: url('../fonts/SVN-GothamBookItalic.woff2') format('woff2'),
        url('../fonts/SVN-GothamBookItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-size-title: 3rem;
    --font-famili-title: "MTD Portrait Script Bounce", sans-serif;
    --text-title-color: #c9818eff;
    --bg: #ffffff;
    --text: #202123ff;
    --header: #467b92;
    --accent: #1f6f7a;
    --muted: #9aa6ab;
    --card: #f3f6f9ff;
    --border: #231f20;
    --radius: 12px;
    --maxw: 430px;
    --gap: 24px;
    --accent-soft: rgba(31, 111, 122, 0.08);
}

* {
    box-sizing: border-box
}

body {
    margin: 0;
    overflow-x: hidden;
    /* font-family: "SVN-Gotham", sans-serif; */
    font-size: 0.67rem;
    font-weight: normal;
    background-color: var(--bg);
    color: #202123ff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
    /* padding: 24px; */
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    height: auto;
    max-width: var(--maxw);
    min-width: 375px;
    /* border-radius: 16px; */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
    overflow: hidden;
}

.container h2 {
    font-family: var(--font-famili-title);
    font-size: var(--font-size-title);
    font-weight: 300;
    color: var(--text-title-color);
    padding: 5px;
    margin: 0;
}

/* hero section ============= */
.hero {
    /* background-image: url('../images/base/hero.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 752px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.hero .overlay,
.hero .img-box {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.hero .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h2 {
    color: #fff;
    position: relative;
    letter-spacing: 1.2px;
}

.hero .overlay {
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: center;
}

.hero h2:first-child {
    right: -30px;
    margin-top: 40px;
}

.hero h2:last-child {
    left: -30px;
}

.tilt-in-top-1 {
	-webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/**
 * ----------------------------------------
 * animation tilt-in-top-1
 * ----------------------------------------
 */
 @-webkit-keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  
  

.tilt-in-fwd-tr {
	-webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */
 @-webkit-keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  

/* header-section ==========================> */
.header-section {
    background-image: url('../images/base/bg-top.png'), url('../images/base/IMG_3962.GIF');
    background-repeat: repeat, no-repeat;
    background-size: contain, contain;
    background-position: top, top;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.header-section .invitation-heading {
    padding: 60px 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-section .invitation-heading .header-text h2 {
    position: relative;
}

.header-section .invitation-heading .header-text h2:first-child {
    left: -40px;
}

.header-section .invitation-heading .header-text h2:last-child {
    right: -40px;
}

.header-section .invitation-text {
    font-family: "SVN-GothamBook", sans-serif;
    font-size: 0.5rem;
    font-weight: normal;
    text-transform: uppercase;
}

.header-section .img-couple1 {
    padding: 70px 0;
}

.header-section .img-couple1 .box-img {
    max-width: 243px;
    max-height: 146px;
    position: relative;
}

.header-section .img-couple1 .box-img img.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-section .img-couple1 .box-img img.flower-icon {
    position: absolute;
    bottom: -15px;
    right: -45px;
    width: 70px;
    height: auto;
}

.header-section .date-section {
    font-family: "SVN-GothamBold", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
}

.header-section .date-section .date-heading {
    margin: 0;
}

.header-section .location .map-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.header-section .location .map-img img {
    width: 80%;
}

.header-section .location .map-btn {
    text-decoration: none;
    padding: 3px 64px 2px;
    font-size: 1rem;
    background-color: #c9818eff;
    color: #fff;
    border-radius: 15px;
}

/* <================================== end header-section */

/* timeline-section ==========================> */
.timeline-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/base/middle.webp'),url('../images/base/bg-top.png');
    background-position: center, center;
    background-size: contain, cover;
    background-repeat: no-repeat, repeat;
    min-height: 504px;
    padding: 120px 0;
}

.timeline-section .timeline-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.timeline-section .timeline-container {
    max-width: 200px;
    padding-top: 30px;
}

.timeline-section .timeline-container .item {
    width: 100%;
    padding-bottom: 20px;
}

.timeline-section .timeline-container .item p {
    margin: 0;
    font-family: "SVN-GothamBook", sans-serif;
    font-size: .55rem;
}

.timeline-section .timeline-container .item img.icon {
    width: 25px;
    height: 30px;
    object-fit: contain;
}

/* =========== dresscode ================= */
.dresscode {
    background-image: url('../images/base/bg-top.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0 0;
}

.dresscode .dresscode-container .head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dresscode .dresscode-container .head p {
    font-family: "SVN-GothamBook", sans-serif;
    font-size: 0.569rem;
    font-weight: normal;
    text-transform: uppercase;
    margin: 3px 0;
}

.dresscode .dresscode-container .middle {
    width: 100%;
    padding-top: 58px;
    padding-bottom: 30px;
}

.dresscode .dresscode-container .middle .circle-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dresscode .dresscode-container .middle .circle-items .item {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: .5px solid #231f20;
}

.dresscode .dresscode-container .middle .circle-items .item:nth-child(1) {
    position: relative;
    right: -15px;
}

.dresscode .dresscode-container .middle .circle-items .item:nth-child(2) {
    position: relative;
    right: -5px;
}

.dresscode .dresscode-container .middle .circle-items .item:nth-child(3) {
    position: relative;
    left: -5px;
}

.dresscode .dresscode-container .middle .circle-items .item:nth-child(4) {
    position: relative;
    left: -15px;
}

/* =========== */
.dresscode .dresscode-container .couple-wrap {
    max-height: 630px;
}

.dresscode .dresscode-container .couple-wrap .photo-wrap {
    width: 100%;
    position: relative;
    height: 525px;
}

.dresscode .dresscode-container .couple-wrap .photo-wrap .bk-pink {
    width: 64%;
    height: auto;
    position: absolute;
}

.dresscode .dresscode-container .couple-wrap .photo-wrap .main-photo {
    width: 56%;
    height: auto;
    position: absolute;
    top: 16px;
    left: 0;
}

.dresscode .dresscode-container .couple-wrap .photo-wrap .flower1 {
    width: 35%;
    height: auto;
    position: absolute;
    bottom: 71px;
    right: 94px;
}

.dresscode .dresscode-container .couple-wrap .photo-wrap .flower2 {
    width: 52%;
    height: auto;
    position: absolute;
    bottom: 10px;
    right: 0;
}

.dresscode .dresscode-container .couple-wrap .photo-wrap .bottom {
    width: 62%;
    height: auto;
    position: absolute;
    bottom: -4px;
    right: 16px;
}


/* ===================== album ================ */
.album {
    background-image: url('../images/base/bg-top.png');
    background-repeat: repeat;
    background-size: contain;
    background-position: top;
    padding-top: 40px;
}

.album h2 {
    text-align: center;
    padding-bottom: 30px;
}

.swiper {
    width: 100%;
    max-width: 600px;
    height: 679px;
    margin: auto;
    position: relative;
  }

  .swiper-slide img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  /* .swiper-pagination {
    bottom: 10px !important;
  } */
   .swiper .swiper-pagination-bullet-active  {
    background: var(--text-title-color)
   } 
  .swiper .swiper-button-next, .swiper .swiper-button-prev {
    color: var(--text-title-color);
  }
/* rsvp ===========================================> */

.rsvp {
    background-image: url('../images/base/bg-top.png'), url('../images/base/back-flowers.png');
    background-repeat: repeat, no-repeat;
    background-size: contain, contain;
    background-position: top, top;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-size: 0.6rem;
    font-weight: normal;
    padding: 25px 0;
}

.rsvp .title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    padding-bottom: 10px;
}

.rsvp .head-title {
    font-family: "SVN-GothamBook", sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: uppercase;
    padding: 25px 0 22px 0;
}

.rsvp .box-icon {
    width: 40%;
    padding-bottom: 5px;
}

.rsvp .box-icon img {
    width: 100%;
}

.rsvp .rsvp-title {
    font-family: "MTD Portrait Script Bounce", cursive;
    font-size: 2.6rem;
    font-weight: normal;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.rsvp .rsvp-text {
    font-family: "SVN-GothamBook", sans-serif;
    text-transform: uppercase;
    font-size: .53rem;
    font-weight: 300;
}

#rsvp-form {
    width: 100%;
    font-family: "SVN-GothamLight", sans-serif;
}

#rsvp-form .form-group.form-group-confirm {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 10px 0;
}

#rsvp-form .form-group.form-group-info div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #rsvp-form .form-group.form-group-info div:nth-child(2) input {
    width: 65%;
} */

#rsvp-form .form-group.form-group-info div:nth-child(2) label {
    font-size: .53rem;
}


#rsvp-form .form-group {
    margin-bottom: 10px;
}
/* #rsvp-form .form-group.form-group-info div:first */

#rsvp-form .form-group label span {
    font-style: italic;
}

#rsvp-form input[type="radio"] {
    display: none;
}

#rsvp-form .radio-button {
    font-family: "SVN-GothamBook", sans-serif;
    display: inline-block;
    border-radius: 7px;
    cursor: pointer;
    background: #f4e4e9ff;
    border: none;
    text-transform: uppercase;
    user-select: none;
    width: 47%;
    line-height: 1.6;
    padding: 6px 0;
    margin: 5px 0;
    font-size: .53rem;
    transition: 0.5s ease;
}

#rsvp-form .form-group input[type="radio"]:checked+.radio-button {
    color: #ffffff;
    background-color: var(--text-title-color);
}

#rsvp-form .form-group select.input-text {
    font-family: "SVN-GothamLight", sans-serif;
    font-size: 0.7rem;
    font-weight: normal;
    font-weight: normal;
    width: 65%;
    height: 30px;
    display: inline-block;
    border-radius: 7px;
    cursor: pointer;
    background: #f4e4e9ff;
    color: rgb(164, 33, 90);
    border: none;
    user-select: none;
    padding-left: 13px;
    outline: none;
}

#rsvp-form .form-group input.input-text {
    font-family: "SVN-GothamLight", sans-serif;
    font-size: 0.7rem;
    font-weight: normal;
    font-weight: normal;
    width: 100%;
    height: 30px;
    display: inline-block;
    border-radius: 7px;
    cursor: pointer;
    background: #f4e4e9ff;
    border: none;
    user-select: none;
    padding-left: 13px;
    outline: none;
}

#rsvp-form textarea {
    font-family: "SVN-GothamLight", sans-serif;
    font-size: 0.7rem;
    font-weight: normal;
    background: #f4e4e9ff;
    border: none;
    width: 100%;
    height: 100px;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    padding-top: 10px;
    padding-left: 13px;
    outline: none;
}

#rsvp-form .vegetarian {
    padding-top: 20px;
    padding-bottom: 20px;
}

#rsvp-form .vegetarian .text-box {
    font-family: "SVN-GothamLight", sans-serif;
    font-size: .53rem;
}

#rsvp-form .vegetarian .button-box {
    display: flex;
    justify-content: space-between;
}

#rsvp-form .vegetarian .text-box .sub-en {
    font-style: italic;
}

#rsvp-form .vegetarian .button-box .radio-button {
    /* margin: 0 10px; */
    width: 48%;
    font-size: 0.55rem;
}

#rsvp-form .additional {
    padding: 0 25px;
}
#rsvp-form .additional p {
    font-size: .53rem;
}

#rsvp-form .form-actions button {
    border: none;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    font-size: 16px;
}

#rsvp-form .form-actions {
    padding-top: 20px;
}

#rsvp-form .form-actions button {
    background: var(--text-title-color);
    font-family: "SVN-GothamBold", sans-serif;
    font-size: 0.6rem;
    font-weight: normal;
    color: #ffffff;
    padding: 8px 20px;
}

#rsvp-form .form-actions button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#rsvp-form .form-group.form-group-confirm,
#rsvp-form .form-group.form-group-info,
#rsvp-form .vegetarian {
    padding-right: 25px;
    padding-left: 25px;
}

/* ========== high light section ====================== */
.highlight-section {
    background-image: url('../images/base/bg-top.png'), url('../images/base/IMG_3962.GIF');
    background-repeat: no-repeat, no-repeat;
    background-size: cover, contain;
    background-position: center, top;
    height: 495px;
    margin: 0 auto;
    padding: 50px 0;
}

.highlight-section .highlight-container {
    padding: 0 25px;
    width: 100%;
    height: 100%;
    position: relative;
}

.highlight-section .highlight-container .item {
    width: 325px;
    height: 257px;  
    position: relative;
}

.highlight-section .highlight-container .item:first-child {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
}

.highlight-section .highlight-container .item:last-child {
    position: absolute;
    bottom: 0;
    right: 20px;
    z-index: 2;
}

.highlight-section .highlight-container .item1 img.bg {
    width: 268px;
    height: auto;
    object-fit: cover;
    position: absolute;
}

.highlight-section .highlight-container .item1 img.main {
    width: 229px;
    height: auto;
    top: 18px;
    left: 22px;
    object-fit: cover;
    position: absolute;
}

.highlight-section .highlight-container .item1 img.flower_02 {
    width: 106px;
    height: auto;
    top: -35px;
    right: 32px;
    object-fit: cover;
    position: absolute;
}

.highlight-section .highlight-container .item1 img.flower_01 {
    width: 222px;
    height: auto;
    top: -67px;
    right: -29px;
    object-fit: cover;
    position: absolute;
}


.highlight-section .highlight-container .item2 img.bg {
    width: 268px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: cover;
}

.highlight-section .highlight-container .item2 img.main {
    width: 229px;
    height: auto;
    position: absolute;
    bottom: 60px;
    right: 25px;
    animation-delay: 1s;
    object-fit: cover;
}

.highlight-section .highlight-container .item2 img.flower {
    width: 155px;
    height: auto;
    position: absolute;
    top: -23px;
    left: -13px;
    object-fit: cover;
}

/* ============== celebrate =========== */
.celebrate {
    background-image: url('../images/base/bg-top.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.celebrate .celebrate-container {
    padding: 50px 25px;
    text-align: center;
    width: 100%;
}

.gift .gift-container p,
.celebrate .celebrate-container p {
    font-family: "SVN-GothamBook", sans-serif;
    font-size: 0.6rem;
    font-weight: normal;
    padding-bottom: 15px;
}

.gift .gift-container .btn,
.celebrate .celebrate-container .btn {
    background: var(--text-title-color);
    font-family: "SVN-GothamBold", sans-serif;
    font-size: 0.62rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    color: #ffffff;
    padding: 8px 30px;
    border-radius: 7px;
}

.celebrate .celebrate-container .divider-img {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}
.celebrate .celebrate-container .divider-img img {
    width: 40%;
    padding-top: 20px;
}

/* ============== gift =========== */
.gift {
    background-image: url('../images/base/bg-top.png'), url('../images/base/IMG_3962.GIF');
    background-repeat: no-repeat, no-repeat;
    background-size: cover, contain;
    background-position: center, top;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.gift .gift-container {
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.gift .gift-container h2 {
    padding-bottom: 30px;
}

.gift img {
    position: absolute;
}

.gift img.bottom {
    width: 100%;
    height: auto;
    bottom: 0;
}

.gift img.right {
    width: 218px;
    height: auto;
    bottom: 0;
    right: 0;
}

.gift img.left {
    width: 188px;
    height: auto;
    bottom: 0;
    left: 0;
}

.gift img.middle {
    width: 150px;
    height: auto;
    bottom: 0;
    left: 58%;
    transform: translateX(-50%);
}

/* <=================================== end rsvp */

.end {
    padding: 15px 0 5px 0;
    font-family: "SVN-GothamBold", sans-serif;
    font-size: 0.6rem;
    font-weight: normal;
}

/* music */
.player {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 45px;
    height:45px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    border: none;
    outline: none;
    z-index: 9999;
    border: 1px solid var(--text-title-color);
}

.player #iconSvg {
    width: 100%;
    height: 100%;
    fill: var(--text-title-color);
}

.music-label {
    position: fixed;
    bottom: 14px;
    right: 20px;
    width: 120px;
    height: 36px;
    background-color: #f4e4e9ff;
    z-index: 999;
    font-family: "SVN-GothamBook", sans-serif;
    font-size: .8rem;
    color: #cc5a6e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    opacity: .8;
}

.spin {
    animation: spin 4s linear infinite;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ================ animation ================= */
.sparkle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    pointer-events: none;
    z-index: 3;
  }
  
  .sparkle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: radial-gradient(circle, rgba(255,255,255,0.9), rgba(255,255,255,0));
    border-radius: 50%;
    filter: drop-shadow(0 0 6px #fff);
    opacity: 0;
  }

  .floating-image {
    width: 200px;
    animation: float 4s ease-in-out infinite;
  }

  @keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); } /* Lên 10px */
    100% { transform: translateY(0); }
  }

@media screen and (min-width: 500px) {
    .timeline-section .timeline-container .item p  {
        font-size: .6rem;
        margin: 0;
        padding: 0;
    }
}


@media screen and (max-width: 390px) {
    .dresscode .dresscode-container .couple-wrap .photo-wrap {
        height: 475px;
    }

}

@media screen and (max-width: 375px) {
    .timeline-section .timeline-container .item img.icon {
        width: 22px;
        height: 22px;
    }

    .timeline-section .timeline-container .item {
        padding-bottom: 15px;
    }

    .dresscode .dresscode-container .couple-wrap .photo-wrap {
        height: 450px;
    }

}


.pulsate-fwd {
    -webkit-animation: pulsate-fwd 2s ease-in-out infinite both;
    animation: pulsate-fwd 2s ease-in-out infinite both;
}

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.ping {
    -webkit-animation: ping 1s ease-in-out infinite both;
    animation: ping 1s ease-in-out infinite both;
}

@-webkit-keyframes ping {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        opacity: 0.8;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}

@keyframes ping {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        opacity: 0.8;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}